<section class="content-header">
    <h1>
        Slide
        <small>!</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="javascripts:void(0);">Thống kê</a></li>
        <li class="active">Thống kê doanh thu</li>
    </ol>
</section>

<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Cài đặt thông số</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>-->
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">          
                    <div class="form-group">
                        <label>Ngày</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                <span>
                                    <i class="fa fa-calendar"></i> Thời gian thống kê
                                </span>
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>

                        <div>
                            <button class="btn bg-navy margin" ng-click="applySettingEvent()">
                               Tạo
                            </button>
                        </div>
                    </div>


                    <!-- /.form-group -->
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->

    </div>

</section>