<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="FromEmailAddress" value="fidori123456789@gmail.com"/>
  <add key="FromEmailDisplayName" value="Nano Curcumin"/>
  <add key="FromEmailPassword" value="lucifer123!"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="EnabledSSL" value="true"/>
  <add key="ToEmailAdress" value="khanhhuy130295@gmail.com"/>
</appSettings>