<section class="content-header">
    <h1>
        Danh Sách
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascripts:void(0);"><i class="fa fa-product-hunt"></i>Hỗ trợ Online</a></li>
        <li><a ui-sref="Support">Danh sách Hỗ trợ Online</a></li>
        <li class="active">Cập nhật</li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Cập nhật Nhân viên hỗ trợ : {{support.Name}} </h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmEditsupport" role="form" ng-submit="EditItem()">
            <div class="box-body">
                <div class="form-group">
                    <label for="nameInput" class="col-sm-2 control-label">Tên nhân viên hỗ trợ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="nameInput" ng-model="support.Name">
                        <span ng-show="frmEditsupport.nameInput.$error.required" class="has-error">Vui lòng nhập Tên nhân viên hỗ trợ.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="addressInput" class="col-sm-2 control-label">Địa chỉ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="addressInput" ng-model="support.Address">
                    </div>
                </div>

                <div class="form-group">
                    <label for="departmentInput" class="col-sm-2 control-label">Phòng ban</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="50" name="departmentInput" ng-model="support.Department">
                        <span ng-show="frmEditsupport.departmentInput.$error.maxlength" class="has-error">Phòng ban không được lớn hơn 50 ký tự !</span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="emailInput" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" required ng-maxlength="50" name="emailInput" ng-model="support.Email">
                        <span ng-show="frmEditsupport.nameInput.$error.required" class="has-error">Vui lòng nhập Email hỗ trợ.</span>
                        <span ng-show="frmEditsupport.departmentInput.$error.maxlength" class="has-error">Email không được lớn hơn 50 ký tự !</span>
                    </div>
                </div>



                <div class="form-group">
                    <label for="SkypeInput" class="col-sm-2 control-label">Skype</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="50" name="SkypeInput" ng-model="support.Skype">
                        <span ng-show="frmEditsupport.departmentInput.$error.maxlength" class="has-error">Skype không được lớn hơn 50 ký tự !</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="FacebookInput" class="col-sm-2 control-label">Facebook</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="50" name="FacebookInput" ng-model="support.Facebook">
                        <span ng-show="frmEditsupport.departmentInput.$error.maxlength" class="has-error">Facebook không được lớn hơn 50 ký tự !</span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="MobileInput" class="col-sm-2 control-label">Điện thoại</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="50" name="MobileInput" ng-model="support.Mobile">
                        <span ng-show="frmEditsupport.departmentInput.$error.maxlength" class="has-error">Điện thoại không được lớn hơn 50 ký tự !</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="displayOderInput" class="col-sm-2 control-label">Thứ tự hiển thị</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required name="displayOderInput" ng-model="support.DisplayOder">
                        <span ng-show="frmEditsupport.displayOderInput.$error.required" class="has-error">Vui lòng nhập thứ tự hiển thị !</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="support.Status" ng-checked="support.Status"> Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-2 pull-left">
                        <a ui-sref="Support" class="btn bg-navy"><i class="fa fa-arrow-left"></i> <b>Quay lại</b></a>
                    </div>
                    <div class="col-md-2 pull-right">
                        <button type="submit" class="btn bg-olive-active btn-block" ng-disabled="frmEditsupport.$invalid"><span class="glyphicon glyphicon-floppy-saved"></span><span><b> Lưu</b></span></button>
                    </div>
                </div>



            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>