@model NanoLifeShop.Web.Models.ProductViewModel

<div class="about" id="about">
    <div class="about_top">
        <h2>Giới Thiệu Sản Phẩm</h2>
        <div class="sm_hr"></div>
        <h3 class="m_10">SỨC MẠNH CHO <span class="m_2">CUỘC SỐNG </span>!</h3>
        <p class="m_8">
            @Model.Description
        </p>
    </div>

    <div class="about_bottom">
        <h4><span class="m_2">SẢN PHẨM</span> NỔI BẬT</h4>
        <div class="about_box">
            <div class="container">
                <div class="col-sm-4 grid_8 grid_7">
                    <div class="view view-fifth">
                        <img src="~/UploadFile/images/SP1.png" class="img-responsive" alt="hình ảnh sản phẩm" />
                        <div class="mask">
                            <div class="mask1">
                                <a class="popup-with-zoom-anim" href="#small-dialog1"> <div class="info"><img src="/Assets/client/images/search.png" alt="chi tiết" /></div></a>
                                <div id="small-dialog1" class="mfp-hide">
                                    <div class="pop_up1 text-left">
                                        <h3>@Model.Name</h3>
                                        <img src="~/UploadFile/images/SP1.png" class="img-responsive" alt="hình ảnh sản phẩm" />
                                        <p>	@Html.Raw(Model.Detail)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

