
<div class="about" id="about">
    <div class="about_top">
        <h2>Giới Thiệu Sản Phẩm</h2>
        <div class="sm_hr"></div>
        <h3 class="m_10">SỨC MẠNH CHO <span class="m_2">CUỘC SỐNG </span>!</h3>
        <p class="m_8">
            Các nghiên cứu chỉ ra rằng curcumin kiểm soát sự tăng sinh của các tế bào ung bướu thông qua việc điều chỉnh  nhiều đường truyền tín hiệu tế bào bao gồm: tăng sinh tế bào, ức chế khối u, kích hoạt quá trình  chết của tế bào ung bướu. Nghiên cứu lâm sàng phase II được thực hiện ở trung tâm  Anderson, đại học Texas trên 25 bệnh nhân  ung thư tuyến tụy  được cho dùng 8g Curcumin mỗi ngày trong 2 tháng. Ung bướu phát triển ở 2 bệnh nhân, một người trong 8 tháng và người kia trong 2 năm rưỡi. Mội trường hợp khối u có kích thước giảm tới 73%.
        </p>
    </div>
    <div class="about_bottom">
        <h4><span class="m_2">SẢN PHẨM</span> NỔI BẬT</h4>
        <div class="about_box">

            <div class="container">
                <div class="col-sm-4 grid_8 grid_7">
                    <div class="view view-fifth">
                        <img src="~/UploadFile/images/SP1.png" class="img-responsive" alt="hình ảnh sản phẩm" />
                        <div class="mask">
                            <div class="mask1">
                                <a class="popup-with-zoom-anim" href="#small-dialog1"> <div class="info"><img src="/Assets/client/images/search.png" alt="chi tiết" /></div></a>
                                <div id="small-dialog1" class="mfp-hide">
                                    <div class="pop_up1">
                                        <h3>Nghệ nano</h3>
                                        <img src="~/UploadFile/images/SP1.png" class="img-responsive" alt="hình ảnh sản phẩm" />
                                        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, voluptas!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

