
<div class="benefit" style="" id="benefit">
    <div class="container">
        <ul class="benefit_head">
            <li class="benefit_head-left">
                <h3>Nano Curcumin<br>Mang lại hiệu quả ?</h3>
            </li>
            <li class="benefit_head-right">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel commodi, reiciendis praesentium quos sequi enim perspiciatis! Minima tempore, impedit nesciunt. Id aliquid praesentium a, odio doloribus fuga hic accusantium! Nisi alias culpa at recusandae quibusdam sed ratione id quam enim?
            </li>
        </ul>
        <div class="clearfix"> </div>

        <div class="benefit_box">
            <p class="m_3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel commodi, reiciendis praesentium quos sequi enim perspiciatis! Minima tempore, impedit nesciunt. Id aliquid praesentium a, odio doloribus fuga hic accusantium! Nisi alias culpa at recusandae quibusdam sed ratione id quam enim?
            </p>
            <p class="m_4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel commodi, reiciendis praesentium quos sequi enim perspiciatis! Minima tempore, impedit nesciunt. Id aliquid praesentium a, odio doloribus fuga hic accusantium! Nisi alias culpa at recusandae quibusdam sed ratione id quam enim?
            </p>
            <p class="m_5">Những hiệu quả mang lại cho bạn từ <span class="m_2"><b><i>NANO CURCUMIN :</i></b></span></p>
            <div class="benefit_grid">
                <div class="benefit_box-left">
                    <ul>
                        <li><p>Cải thiện sức khỏe</p></li>
                        <li><p>Hạn chế sự phát triển vi khuẩn HP</p></li>
                        <li><p>Hỗ trợ nâng cao thể chất<p></li>
                        <li><p>Làm đẹp da &amp; chậm quá trình lão hóa</p></li>
                        <li><p>Giúp hỗ trợ phục hồi sức khỏe cho phụ nữ sau khi sinh</p></li>
                        <li><p>Giúp hỗ trợ phòng ngừa nguy cơ ung thư Dạ Dày</p></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>


