@model  IEnumerable<NanoLifeShop.Web.Models.SlideViewModel>


<div class="index-banner" id="customer">
    <div class="container">
        <div class="wmuSlider example1">
            <div class="wmuSliderWrapper">

                @foreach (var item in Model)
                {
                    <article data-index="@item.DisplayOder" style="position: absolute; width: 100%; opacity: 0;">
                        @Html.Raw(item.Content)
                    </article>
                }

            </div>

        </div>
        <script src="/Assets/client/js/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider();
        </script>
    </div>
</div>



