

<div class="product">
    <div class="container">
        <ul class="product_grid">
            <li class="product_grid-left">
                <p>
                    Sản phẩm không phải là thuốc và không có tác dụng thay thế thuốc chữa bệnh.<br />
                    Lưu ý: Kết quả sẽ đa dạng tùy theo cơ địa mỗi người.
                </p>
            </li>
            <li class="product_grid-right">
                <h3>Sử dụng<br /> Nano Curcumin ? </h3>
            </li>
        </ul>
        <div class="clearfix"> </div>
        <h3 class="m_10">Hỗ trợ và cải thiện <span class="m_2">HỆ TIÊU HÓA</span> !</h3>
        <p class="m_8 m_9">
            Việc dùng Nano Curcumin trong 4 đến 12 tuần để điều trị loét dạ dày, tá tràng mang lại kết quả tốt mà không có tác dụng phụ ảnh hưởng đến chức năng gan và thận. Bổ sung nghệ trong chế độ ăn uống hàng ngày cũng sẽ giúp giảm triệu chứng, giảm viêm loét dạ dày và ngăn ngừa các bệnh về dạ dày.
        </p>
        <div class="product_box">

            <div class="col-sm-4">
                <div class="product_box1">

                    <div class="product_box1-num"> 1</div>
                    <p>
                        Nội dung abckjnashdfjkdask
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="product_box1">

                    <div class="product_box1-num"> 2</div>
                    <p>
                        Nội dung abckjnashdfjkdask
                    </p>
                </div>
            </div>   <div class="col-sm-4">
                <div class="product_box1">

                    <div class="product_box1-num"> 3</div>
                    <p>
                        Nội dung abckjnashdfjkdask
                    </p>
                </div>
            </div>

        


            <div class="clearfix"> </div>
        </div>
    </div>
</div>


