
<!DOCTYPE HTML>
<html>
<head>
    <title>Nghệ Nano KuminLife</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Asset/client/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Asset/client/css/css-loader.css" rel="stylesheet" />
    <!-- jQuery (necessary forBootstrap's JavaScript plugins) -->

    <script src="~/Assets/client/js/jquery-2.1.4.min.js"></script>
    <script src="~/Assets/client/js/bootstrap-3.1.1.min.js"></script>
    <script src="/Scripts/jquery.validate.js"></script> 
    <!-- Custom Theme files -->
    <link href="/Asset/client/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Add fancyBox main JS and CSS files -->
    <script src="/Asset/client/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <link href="/Asset/client/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
    </script>
    <script type="text/javascript" src="/Asset/client/js/move-top.js"></script>
    <script type="text/javascript" src="/Asset/client/js/easing.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>


    @RenderSection("homePartial", required: false)


    @RenderBody()

    <div class="footer">
        @Html.Partial("/Views/Shared/Footer.cshtml");
    </div>

    @RenderSection("jsFooter", required: false)
</body>
</html>		