@model  List<NanoLifeShop.Web.Models.MenuViewModel>
<div class="header-home">
    <div class="fixed-header">
        <div class="h_menu4">
            <!-- start h_menu4 -->
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">

                @foreach (var item in Model)
                {

                    if (item.Url != "post")
                    {
                        <li><a href="/" target="@item.Target" class="scroll">@item.Name</a></li> }
                    else
                    {
                      
                        <li><a href="/post" target="@item.Target">@item.Name</a></li>
                    }
                }


            </ul>

            <script type="text/javascript" src="~/Assets/client/js/nav.js"></script>
            @*<script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $(".scroll").click(function (event) {
                        event.preventDefault();
                        $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                    });
                });
            </script>*@
            <!--script-->
            <script>
                $(document).ready(function () {
                    $(".nav li a").click(function () {
                        $(this).parent().addClass("active");
                        $(this).parent().siblings().removeClass("active");
                    });
                });
            </script>
            <!-- script-for sticky-nav -->
            <script>
                $(document).ready(function () {
                    var navoffeset = $(".header-home").offset().top;
                    $(window).scroll(function () {
                        var scrollpos = $(window).scrollTop();
                        if (scrollpos >= navoffeset) {
                            $(".header-home").addClass("fixed");
                        } else {
                            $(".header-home").removeClass("fixed");
                        }
                    });

                });
            </script>
            <!-- /script-for sticky-nav -->
        </div><!-- end h_menu4 -->
    </div>
</div>



