
<div class="header_bottom" id="home">
    <div class="container">
        <div class="col-sm-7 header_left">
            <span> </span>
        </div>
        <div class="col-sm-5 header_right">
            <h1>Sức Mạnh Cho Cuộc Sống Với<br /> <span class="m_1">Nano Curcumin</span></h1>
            <div class="header_box">
                <form id="formOder" method="post">
                    <h2>Liên hệ ngay</h2>
                    <input type="text" class="text" placeholder="Tên *" id="txtName" name="txtName" />
                    <input type="text" class="text" placeholder="Số Điện Thoại *" id="txtPhone" name="txtPhone" />
                    <input type="text" class="text" placeholder="Email" id="txtEmail" name="txtEmail" />
                    <input type="number" class="text" placeholder="Số lượng cần mua *" id="txtQuantity" name="txtQuantity" />
                    <hr />
                    <div class="right">
                        <div>
                            Giá sản phẩm:  <strong>180,000 VNĐ/hộp</strong>
                        </div>
                        <div>
                            <span>Mua 2 hộp được freeship</span>
                        </div>
                    </div>

                    <label class="fa-btn btn2 btn-2 btn-1e"><input type="submit" id="btnOder" value="Đặt Hàng"></label>
                    <ul class="form_lock">
                        <li><i class="lock"> </i></li>
                        <li class="lock_desc">
                            <p>
                                Thông tin Email của bạn sẽ được giữ an toàn.<br />
                                Vui lòng điền Email để được nhận những khuyến mãi sớm nhất từ chúng tôi.<br />
                            </p>
                        </li>

                    </ul>
                    <div class="clearfix"> </div>
                </form>

            </div>
        </div>
    </div>
</div>



