@model  List<NanoLifeShop.Web.Models.PostViewModel>


<ul class="recent-list">
    <h3>Bài viết mới</h3>

    @foreach (var item in Model)
    {
        var link = "/post/" + item.Alias + ".p-" + item.ID;
        <li><a href="@link">@item.Name</a><br><span>@item.CreateDate</span></li>
    }

</ul>

